.nav-footer {
    padding: 20px;
}

footer {
	background-color: black;
	color: white;

	ul {
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;
		padding: 35px;
    	margin-right: 398px;
	}

	li {
		float: right;
	}

	a {
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		text-transform: uppercase;
		font: 16px arial, sans-serif;
	}
}

footer img {
	margin-left: 668px;
}

footer p {
	text-align: center;
	margin-top: 30px;
}