/*---------------------------
           General
---------------------------*/
main{
	background-image: url("wood.jpg");
	padding: 30px;
}

h1{
	font-family:'Shadows Into Light', cursive;
	font-size: 40px;
	text-align: center;
}

/*---------------------------
           Table
---------------------------*/
table{
	background-color: #F3EBF0;
	border-collapse: collapse;
	box-shadow: 9px 5px 70px black;
	margin: 0 auto;
}

td{
	height: 90px;
	width: 90px;
}

/*--ODD and EVEN--*/

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd){
	background-color: #EEC2DD;
}

/*--2n and 2n+1--*/

.first td:nth-child(2n),
.second td:nth-child(2n+1),
.third td:nth-child(2n),
.fourth td:nth-child(2n+1),
.fifth td:nth-child(2n),
.sixth td:nth-child(2n+1),
.seventh td:nth-child(2n),
.eighth td:nth-child(2n+1){
  background-color: #EEC2DD;
}





