/* Transition Box Sizing */

.transitionBox {
	background-color: #FFC0CB;
	-webkit-transition: width 1s, height 1s, background-color 1s, transform 0.5s;
	-moz-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	-ms-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	-o-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	transition:  width 1s, height 1s, background-color 1s, transform 0.5s;

	&:hover {
		background-color: #B0E0E6;
	}
}

/* Transition / Transform */

.transition {
	-webkit-transition: width 1s, height 1s, background-color 1s, transform 0.5s;
	-moz-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	-ms-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	-o-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	transition:  width 1s, height 1s, background-color 1s, transform 0.5s;

	&:hover {
		background-color: #48D1CC;
	}
}

/* Transition Gradient */

.transitionGrad {
	width: 300px;
	height: 150px;
	float: left;
	background-color: #FFC0CB;
	margin-left: 372px;
	margin-top: 60px;
	-webkit-transition: width 1s, height 1s, background-color 1s, transform 0.5s;
	-moz-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	-ms-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	-o-transition: width 1s, height 1s, background-color 1s, transform 0.5s;;
	transition:  width 1s, height 1s, background-color 1s, transform 0.5s;

	&:hover {
		background: -webkit-linear-gradient(blue, white, white, red, white, white, blue); 
		background: -o-linear-gradient(blue, white, white, red, white, white, blue); 
		background: -moz-linear-gradient(blue, white, white, red, white, white, blue); 
		background: linear-gradient(blue, white, white, red, white, white, blue); 
	}
}



